In [13]:
import pandas as pd
from tqdm import tqdm

In [41]:
df_v = pd.read_csv('voyage_rev3.csv', low_memory=False)[['voyage_ID (new)', 'voyage_id (old)', 'voyage_code']]
# .rename(columns={'voyage_id (old)': 'voyage_id'})
df_r = pd.read_csv('beta_record.csv', low_memory=False).drop('Unnamed: 0', axis=1)
df_r_columns = list(df_r.columns)
df_r_columns.append('voyage_code')
voy = pd.read_csv('voyage.csv', low_memory=False).rename(columns={'id': 'voyage_id'}).drop(columns=['ship_code'])
cor = pd.read_csv('inc_rec.csv', low_memory=False)
df_v['voyage_code'] = df_v['voyage_code'].str.strip()
voy['voyage_code'] = voy['voyage_code'].str.strip()
replace_map = {
    'SYD02': 'SYD01',
    'VAL05.01': 'VAL05',
    'VAL05.02': 'VAL05',
    'DDO13B': 'DDO13',
    'DDO13A': 'DDO13',
    'DDO9': 'DDO09'
}
voy['voyage_code'] = voy['voyage_code'].replace(replace_map)

In [42]:
df = pd.merge(voy, df_r, on='voyage_id', how='inner')[df_r_columns]

In [16]:
# df_v[df_v['voyage_code'].isin(['AIM03', 'BRG02', 'DBO08', 'DLG02', 'DLG08', 'FTN05', 'REC01', 'SEI03'])]

In [17]:
# list(cor[(cor['voyage_code'].notna()) & (~cor['voyage_code'].isin(list(replace_map.keys())))].drop_duplicates(subset=['voyage_code'])['voyage_code'])

In [45]:
test = pd.merge(df, df_v, on='voyage_code', how='inner')
nonproblematic = list(set(test['voyage_id']))
all_ids = list(set(df['voyage_id']))

In [40]:
df_v[df_v['voyage_code']=='JAS01']

     voyage_ID (new)  voyage_id (old) voyage_code
752              753           1219.0       JAS01

In [54]:
problematic = []
for i in all_ids:
    if i not in nonproblematic:
        problematic.append(i)
a = list(set(df[df['voyage_id'].isin(problematic)]['voyage_id']))
b = [float(i) for i in a]

In [63]:
problematic
# .to_csv('corrupted_voyages.csv')

[745, 2375, 2376, 2377, 5703]

In [41]:
df_v = df_v.drop(columns=['voyage_id (old)'])

In [42]:
oldies = list(set(df[df['voyage_code'].notna()]['voyage_code']))
goodies = list(set(df_v[df_v['voyage_code'].notna()]['voyage_code']))

In [43]:
ab_code = []
for code in oldies:
    if code not in goodies:
        ab_code.append(code)

In [46]:
# pd.merge(df, df_v, on='voyage_code', how='inner').to_csv('voyagely_correct_records.csv')

In [47]:
absent = list(set(df[df['voyage_code'].isna()]['voyage_id']))
absent

[5703, 2376, 745, 2377, 2375]

In [49]:
# df[(df['voyage_code'].isin(ab_code)) | (df['voyage_id'].isin(absent))].to_csv('voyagely_incorrect_records.csv')

In [50]:
df_r[df_r['voyage_id'].isin(absent)]

,record_id,file_name,n,age,build,complexion,conscription,wage,remarks,f_n,...,disemb_date,disemb_loc,disemb_class,days_on_voyage,earnings,person_id,origin_id,function_id,ship_id,voyage_id
70,15228,ROLE1P196A-663_2548,1,NaN,NaN,NaN,NaN,120,embarqué à l'armement \n débarqué à ? --- 2e l...,NaN,...,NaN,NaN,NaN,NaN,NaN,13328,5,1,1,745
196,198827,Rôle du Phélypeaux (1752 - 1752)_1720,1,NaN,NaN,NaN,NaN,120,a fait la campagne de Rochefort à Lorient --- ...,NaN,...,NaN,<Disemb_Loc>,301.0,NaN,NaN,152501,1,1,442,745
197,126373,ROLE2P68-II.2_2041,1,NaN,NaN,NaN,NaN,200,embarqué à l'armement \n débarqué à ? --- Mr,NaN,...,NaN,NaN,NaN,NaN,NaN,180756,1,1,88,745
198,145327,Rôle de la Princesse Émilie (1748 - )_1708,1,NaN,NaN,NaN,NaN,?,a fait la campagne --- solde : 26 pagodes 56 c...,NaN,...,NaN,<Disemb_Loc>,301.0,NaN,NaN,184465,1,1,186,745
199,148883,Rôle de la Victoire (1718-1719)_1634,1,NaN,NaN,NaN,NaN,150,"embarqué à l'armement \n débarqué à ? --- sr, ...",NaN,...,NaN,NaN,NaN,NaN,NaN,119517,1,1,562,745
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215054,145384,Rôle de la Princesse Émilie (1748 - )_1708,58,NaN,NaN,NaN,NaN,?,"a fait la campagne --- lascar, solde : 4 pagodes",NaN,...,NaN,<Disemb_Loc>,301.0,NaN,NaN,117208,1543,2292,186,745
215055,145385,Rôle de la Princesse Émilie (1748 - )_1708,59,NaN,NaN,NaN,NaN,?,embarqué à l'armement \n resté à Madras le 02/...,NaN,...,NaN,NaN,NaN,NaN,NaN,117209,1543,2292,186,745
215056,145386,Rôle de la Princesse Émilie (1748 - )_1708,60,NaN,NaN,NaN,NaN,?,"a fait la campagne --- lascar, solde : 3 pagodes",NaN,...,NaN,<Disemb_Loc>,301.0,NaN,NaN,117210,1543,2292,186,745
215057,145387,Rôle de la Princesse Émilie (1748 - )_1708,61,NaN,NaN,NaN,NaN,?,embarqué à l'armement \n resté à Madras le 02/...,NaN,...,NaN,NaN,NaN,NaN,NaN,117211,1543,2292,186,745
215570,126384,ROLE2P68-II.2_2041,12,26.0,m,bl,NaN,sans appointements,embarqué à l'armement \n débarqué à ? --- sans...,NaN,...,NaN,NaN,NaN,NaN,NaN,103761,6192,2115,88,745

In [51]:
pd.merge(df_r, df, on='voyage_id', how='inner')

KeyboardInterrupt: