In [1]:
import pandas as pd
from tqdm import tqdm

In [7]:
df_r = pd.read_csv('record_rev.csv', low_memory=False).rename(columns={'id': 'record_id'}).drop('Unnamed: 0', axis=1)
df_r_columns = list(df_r.columns)
df_p = pd.read_csv('person.csv', low_memory=False).rename(columns={'id': 'person_id'})
df_p_columns = list(df_p.columns)
df_v = pd.read_csv('voyage.csv', low_memory=False).rename(columns={'id': 'voyage_id'}).drop(columns=['ship_code'])
df_v_columns = list(df_v.columns)
df_s = pd.read_csv('ship_rev.csv', low_memory=False).drop('Unnamed: 0', axis=1)
df_s_columns = list(df_s.columns)
df_f = pd.read_csv('functions.csv', low_memory=False).rename(columns={'id': 'function_id'})
df_f_columns = list(df_f.columns)
df_o = pd.read_csv('origin.csv', low_memory=False).rename(columns={'id': 'origin_id'})
df_o_columns = list(df_o.columns)
df_s['ship_index'] = df_s['ship_index'].astype(str)
df_r['ship_index'] = df_r['ship_index'].astype(str)
df1 = pd.merge(df_r, df_s, on='ship_index', how='inner')
df2 = pd.merge(df1, df_v, on='voyage_index', how='inner')
df3 = pd.merge(df2, df_p, on='person_index', how='inner')
df4 = pd.merge(df3, df_o, on='origin_index', how='inner')
df = pd.merge(df4, df_f, on='function_index', how='inner')

In [11]:
df_r_columns2 = ['record_id',
 'file_name',
 'n',
 'age',
 'build',
 'complexion',
 'conscription',
 'wage',
 'remarks',
 'f_n',
 'zot_title',
 'date_of_birth',
 'date_of_death',
 'medical_issues',
 'passage_paid_by',
 'emb_date',
 'emb_loc',
 'emb_class',
 'disemb_date',
 'disemb_loc',
 'disemb_class',
 'days_on_voyage',
 'earnings',
 'person_id',
 'origin_id',
 'function_id',
 'ship_id',
 'voyage_id']
df_p_columns2 = ['person_id',
 'last_name',
 'first_name',
 'alternate_last_name',
 'alternate_first_name',
 'parents',
 'gender',
 'families_groups',
 'orig_cert']
df_v_columns2 = ['voyage_id',
 'voyage_code',
 'date',
 'date_voy_begin',
 'date_voy_end',
 'notes',
 'route_class',
 'fate',
 'call_number',
 'steps',
 'operations',
 'ship_notes',
 'route_class_1',
 'start_loc',
 'last_loc',
 'tonnage', 
 'guns', 
 'ship_code']
df_s_columns2 = ['ship_id',
 'ship_code',
 'ship_name',
 'alt_ship_name',
 'ship_built_date',
 'ship_built_place',
 'ship_type']
df_f_columns2 = ['function_id',
 'function_name',
 'func_class_1',
 'func_class_2']
df_o_columns2 = ['origin_id',
 'origin',
 'orig_class_1',
 'orig_class_2',
 'orig_class_3']

In [13]:
df[df_p_columns2].sort_values(by='person_id')

,person_id,last_name,first_name,alternate_last_name,alternate_first_name,parents,gender,families_groups,orig_cert
320,1,DE LA GLOIRAIS MANCEL,NaN,MANCEL,NaN,NaN,m,NaN,NaN
196786,2,LE BRIS,Vincent,NaN,NaN,NaN,m,NaN,Y
34824,3,BOUEDELAN,Pierre,NaN,NaN,NaN,m,NaN,Y
62030,4,ALLÉ,Joseph,NaN,NaN,NaN,m,NaN,Y
34825,5,YVON,Jacques,NaN,NaN,NaN,m,NaN,Y
...,...,...,...,...,...,...,...,...,...
146251,215660,GRIGNON,NaN,NaN,NaN,NaN,m,NaN,NaN
162319,215661,DUPLESSY,NaN,NaN,NaN,NaN,m,NaN,NaN
162320,215662,LANGLIER,NaN,NaN,NaN,NaN,m,NaN,NaN
172316,215663,NaN,François,NaN,NaN,NaN,NaN,NaN,NaN
129304,215664,LE BIHAN,Jean,NaN,NaN,Claude,m,NaN,Y

In [6]:
# df[df_r_columns2].drop_duplicates(subset=['record_id']).to_csv('beta_record.csv')
# df[df_v_columns2].drop_duplicates(subset=['voyage_code']).to_csv('beta_voyage.csv')
# df[df_o_columns2].drop_duplicates(subset=['origin_id']).to_csv('beta_origin.csv')
# df[df_f_columns2].drop_duplicates(subset=['function_id']).to_csv('beta_function.csv')
# df[df_p_columns2].drop_duplicates(subset=['person_id']).to_csv('beta_person.csv')
# df_s.to_csv('beta_ship.csv')

In [21]:
df[df_r_columns2].drop_duplicates(subset=['record_id']).to_csv('beta_record.csv')

In [24]:
df_s[['ship_id', 'ship_code', 'ship_name', 'alt_ship_name', 'ship_built_date', 'ship_built_place', 'ship_type']].to_csv('beta_ship.csv')

In [41]:
df[df_s_columns].drop_duplicates(subset=['ship_code'])
# .to_csv('record_jun.csv')

,ship_index,ship_id,ship_code,ship_name,alt_ship_name,ship_built_date,ship_built_place,ship_type,tonnage,guns
0,32,504,SOL_A,Solide,NaN,NaN,NaN,NaN,NaN,NaN
1,21,65,ATF_A,Actif,NaN,NaN,NaN,NaN,NaN,NaN
2,34,214,DIA_A,Diane,NaN,NaN,NaN,NaN,NaN,NaN
3,40,41,ANN_A,Annibal,NaN,NaN,NaN,NaN,NaN,NaN
4,42,338,LEG_B,Légère,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
40320,435,193,DCH_B,Duc De Choiseul,NaN,NaN,NaN,NaN,NaN,NaN
43714,475,304,HER_F,Heureux,NaN,NaN,NaN,NaN,NaN,NaN
51621,448,224,DLG_L,Diligente,NaN,NaN,NaN,NaN,NaN,NaN
91468,451,236,DUR_B,Durance,NaN,NaN,NaN,NaN,NaN,NaN
140361,378,30,ALX_C,Alexandre,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
count = {}
for code in df_v['voyage_code']:
    if code in count:
        count[code] += 1
    else:
        count[code] = 1

In [35]:
count

{'MUT02': 1,
 'SUB02': 19,
 'AUR10': 3,
 'CRF01': 3,
 'AST10': 3,
 'ROU02': 5,
 'BRT03': 36,
 'BRS04': 17,
 'OUR01': 3,
 'BIC01': 1,
 'CHA04': 1,
 'MAC03': 28,
 'SNG01': 4,
 'AST12': 1,
 'MRP08': 11,
 'MIG02': 3,
 'LEG01': 10,
 'OIS01': 3,
 'MIG01': 1,
 'CUP02': 3,
 'CYG02': 1,
 'BRA01': 6,
 'GLO09': 17,
 'DBG03': 29,
 'ADO03': 6,
 'BRS07': 10,
 'MOS01': 33,
 'CND08': 51,
 'ROU01': 31,
 'DIA08': 18,
 'NAI02': 3,
 'CHS02': 5,
 'DAU11': 11,
 'BNA01': 13,
 'ZEP02': 1,
 'CEN08': 46,
 'ZOD01': 47,
 'CYB05': 6,
 'FTN04': 37,
 'SUC01': 3,
 'BOU06': 15,
 'NEP09': 14,
 'CHA05': 17,
 'CHA06': 1,
 'LYS14': 36,
 'GAN02': 11,
 'SLC03': 13,
 'BOT01': 16,
 'BRY01': 27,
 'MAS02': 22,
 'ADO02': 25,
 'AGS09': 1,
 'GAN07': 1,
 'UTL03': 3,
 'FIN01': 2,
 'BOT02': 37,
 nan: 5,
 'MAU03': 2,
 'FTN05': 49,
 'CND09': 54,
 'ROS01': 1,
 'OUT02': 6,
 'LGR01': 1,
 'BRL05': 1,
 'HER02': 1,
 'HER03': 1,
 'VNG03': 1,
 'RSN01': 1,
 'ZEP04': 1,
 'BRI03': 1,
 'FTN06': 1,
 'LIO06': 1,
 'ATF03': 1,
 'CRX02': 1,
 'AGS06': 1,
 'ZEP08': 1,
 'BRE01': 1,
 'ART01': 1,
 'CAT06': 1,
 'JUP10': 1,
 'VTR04': 1,
 'SAG01': 1,
 'SIR06': 1,
 'SRP01': 1,
 'BRI07': 2,
 'MRP09': 1,
 'ZEP06': 1,
 'MRI07': 1,
 'LEG09': 1,
 'VEN07': 1,
 'SUP01': 1,
 'UNI05': 1,
 'AIG11': 1,
 'JPR01': 1,
 'GRV01': 1,
 'SEI03': 1,
 'SUR01': 1,
 'MOZ01': 1,
 'CAL01': 2,
 'ENT01': 1,
 'AIV01': 1,
 'MRC01': 1,
 'BRE02': 1,
 'RUC01': 1,
 'PBL01': 1,
 'DPE01': 1,
 'TRI15': 1,
 'EUN01': 1,
 'SOL07': 1,
 'MDA01': 1,
 'NAN01': 1,
 'BDB02': 1,
 'AGS08': 1,
 'AMO01': 1,
 'DAU20': 1,
 'UNI09': 1,
 'NOI02': 1,
 'AUR14': 1,
 'CIT01': 1,
 'DAU21': 1,
 'TIG01': 1,
 'LEO01': 1,
 'DLG04': 1,
 'VLG01': 1,
 'CYG01': 2,
 'AUR01': 1,
 'DRY01': 1,
 'MUT01': 1,
 'UNI01': 1,
 'SEI01': 5,
 'JAS01 ': 3,
 'SOL01': 2,
 'FTN01': 1,
 'DAU01': 2,
 'MRI02': 1,
 'CHA01': 1,
 'LOI01': 1,
 'SIR01': 4,
 'LYS01': 1,
 'TRI01': 1,
 'VEN01': 2,
 'MAU01': 2,
 'IND01 ': 6,
 'PDC01': 1,
 'APO01': 6,
 'BRT02': 20,
 'GLO02': 1,
 'THE01': 2,
 'HRC01': 1,
 'NEP01': 1,
 'BAD01': 3,
 'CEN01': 1,
 'LOI02': 2,
 'DAN01': 1,
 'FIE01': 2,
 'ANN01': 1,
 'CHA02': 1,
 'JAS02': 1,
 'MRS01': 1,
 'DAU02': 2,
 'AQU01': 1,
 'MUT03': 2,
 'TRI02': 1,
 'RUB01': 7,
 'BOU01': 1,
 'DOU01': 1,
 'VEN02': 7,
 'MER01': 5,
 'JUP01': 3,
 'THE02': 2,
 'CHA03': 3,
 'FIE02': 1,
 'LOI03': 3,
 'JNN01': 4,
 'LYS02': 5,
 'AJX03': 17,
 'UNI02': 3,
 'NEP02': 4,
 'SOL04': 5,
 'JAL01': 1,
 'MAU02': 9,
 'AIG01': 4,
 'MUT04': 1,
 'AUR03': 1,
 'JNN02': 2,
 'SIR02': 4,
 'FTN02': 5,
 'AIG10': 1,
 'PRF03': 2,
 'PHE01': 2,
 'MRI03': 2,
 'CEN03': 1,
 'DLG01': 2,
 'APO02': 5,
 'FIE03': 2,
 'DAN02': 5,
 'DRY04': 6,
 'HER05': 1,
 'DNO02': 1,
 'AST01': 4,
 'JAS03': 5,
 'LOI04': 2,
 'HRC02': 9,
 'FLO01': 5,
 'DLG03': 1,
 'VEN03': 3,
 'ANN02': 5,
 'LYS03': 2,
 'SOL05': 3,
 'JUP02': 3,
 'PRF01': 1,
 'BAD02': 5,
 'MER02': 2,
 'VEN04': 2,
 'DIA03': 2,
 'AST02': 1,
 'MRS02': 3,
 'FLO02': 6,
 'BOU02': 3,
 'ALC01': 6,
 'ANN03': 2,
 'SIR03': 3,
 'ALO04': 4,
 'MRS03': 1,
 'LYS04': 1,
 'NEP03': 2,
 'VEN05': 1,
 'AUR05': 1,
 'AST03': 1,
 'REI01': 4,
 'MED01': 2,
 'DIA04': 1,
 'FLO03': 1,
 'DAN04': 1,
 'MER03': 1,
 'JAS05': 2,
 'CAV01': 1,
 'THE03': 1,
 'JUP03': 2,
 'AST04': 1,
 'BAD03': 3,
 'DAU03': 1,
 'FLO04': 4,
 'GRF01': 2,
 'REI02': 7,
 'MRS04': 5,
 'FIE05': 3,
 'BOU03': 7,
 'SIR04': 8,
 'THE04': 11,
 'PAX01': 3,
 'VEN06': 8,
 'CAV02': 3,
 'MED02': 5,
 'CND01': 7,
 'BAD04': 3,
 'JUP04': 2,
 'NEP04': 10,
 'DAN05': 7,
 'ANN05': 1,
 'PAO01': 1,
 'TRI04': 1,
 'APO04': 1,
 'MRP01': 5,
 'HRN02': 11,
 'DAU04': 5,
 'GLO01': 2,
 'BAD05': 3,
 'REI03': 7,
 'AUR06': 2,
 'AIG03': 1,
 'LYS06': 5,
 'FLO05': 1,
 'CND02': 11,
 'JAS04': 1,
 'AUR11': 7,
 'PAX02': 5,
 'CAV03': 3,
 'AUR08': 3,
 'BAD06': 4,
 'FIR01': 6,
 'APO05': 8,
 'DAU05': 2,
 'PHE02': 10,
 'GRF02': 10,
 'THE05': 9,
 'JUP05': 16,
 'FIR02': 4,
 'FLO06': 2,
 'LYS07': 10,
 'TRI05': 6,
 'GLO03': 4,
 'AIG04': 2,
 'VAL01': 6,
 'FLE01': 11,
 'MRP02': 12,
 'CND03': 7,
 'HRN03': 7,
 'FUL01': 9,
 'APO06': 5,
 'GRF03': 2,
 'VAL02': 2,
 'AUR09': 2,
 'REI04': 5,
 'PHE03': 6,
 'MRI04': 2,
 'CND04': 5,
 'FIR03': 7,
 'JUP06': 1,
 'GLO04': 5,
 'FLE02': 7,
 'DAU06': 3,
 'TRI06': 7,
 'ALX02': 3,
 'PAX03': 12,
 'THE06': 7,
 'FLO07': 2,
 'HRN04': 6,
 'FLO08': 2,
 'JAS07': 2,
 'FUL02': 7,
 'PHE04': 7,
 'VAL03': 4,
 'CRM01': 3,
 'APO07': 13,
 'GLO05': 2,
 'HRC03': 17,
 'MRP03': 16,
 'GRF04': 1,
 'NEP05': 2,
 'CND05': 23,
 'HRN05': 11,
 'APO08': 8,
 'MRI05': 2,
 'TRI07': 7,
 'MRS05': 6,
 'AST05': 1,
 'JAS06': 2,
 'FLE03': 8,
 'BRL01': 7,
 'LYS09': 8,
 'FIR04': 3,
 'VAL04': 1,
 'MRP04': 2,
 'FLO09': 5,
 'GLO06': 3,
 'JAS08': 4,
 'APO09': 1,
 'BRC01': 1,
 'NEP06': 2,
 'HRC04': 2,
 'AIM01': 6,
 'TIG02': 1,
 'JUP08': 2,
 'FLE04': 1,
 'MRS06': 2,
 'FUL03': 15,
 'BRL02': 3,
 'PHE05': 4,
 'LIO01': 2,
 'MRI06': 1,
 'LEG03': 1,
 'FLO10': 5,
 'CYB01': 1,
 'CYB02': 1,
 'AIM02': 6,
 'VAL05.01': 1,
 'LEG02': 7,
 'BRS01': 1,
 'AGS01': 2,
 'DAU07': 2,
 'AST07': 1,
 'PHE06': 6,
 'BRS02': 1,
 'TRI10': 6,
 'AGS02': 21,
 'MSC01': 1,
 'CYB03': 10,
 'LIO02': 1,
 'LYS10': 5,
 'HRC06': 3,
 'DRA02': 1,
 'BRL03': 18,
 'GLX01': 1,
 'TRI11': 1,
 'VAL07': 9,
 'HRC05': 1,
 'PRN01': 23,
 'JAS09': 2,
 'DAU08': 21,
 'VAL06': 2,
 'ALC03': 1,
 'NEP07': 2,
 'MON01': 5,
 'MRP06': 10,
 'CYB04': 1,
 'VAL08': 2,
 'ALC05': 1,
 'MAC01': 2,
 'MSC02': 10,
 'FIR06': 3,
 'HRC07': 2,
 'GLX02': 6,
 'AGS03': 13,
 'AST08': 2,
 'DAU09': 4,
 'MAC02': 5,
 'BRS05': 1,
 'CEN05': 12,
 'DIA06': 9,
 'REI06': 12,
 'PAX06': 7,
 'IND04': 5,
 'ACH03': 5,
 'MRP07': 4,
 'AGS04': 16,
 'LYS08': 12,
 'CYB06': 1,
 'MSC03': 4,
 'AST09': 1,
 'BOU04': 16,
 'MON02': 6,
 'ANS01': 1,
 'MUT05': 3,
 'LYS12': 4,
 'CND07': 8,
 'CDI02': 6,
 'MON03': 10,
 'REI07': 9,
 'DAU10': 10,
 'CEN06': 11,
 'UTL02': 1,
 'MRS08': 1,
 'GLO08': 4,
 'VTR02': 1,
 'LEG05': 1,
 'DDO12': 29,
 'PEL02': 1,
 'DIA07': 7,
 'BRS06': 10,
 'PAX07': 17,
 'LEG06': 1,
 'BRL04': 1,
 'LYS13': 27,
 'ANY01': 2,
 'NEP08': 21,
 'DAN06': 7,
 'GAN01': 10,
 'BOU05': 9,
 'CHA08': 16,
 'ROU04': 3,
 'BRL06': 6,
 'FLE05': 1,
 'SLC01': 2,
 'ACH04': 22,
 'FID01': 22,
 'SLC02': 3,
 'REI08': 3,
 'AGS05': 11,
 'CRF02': 2,
 'MAS01': 23,
 'CHA07': 20,
 'BRY02': 10,
 'FID02': 23,
 'VAI01': 33,
 'VNG02': 49,
 'PAX08': 15,
 'MAS03': 22,
 'BMT01': 26,
 'CYG03': 1,
 'AJX01': 31,
 'BRY03': 17,
 'BMT02': 10,
 'ADO04': 3,
 'AJX02': 11,
 'CND10': 10,
 'BRY04': 7,
 'BMT03': 9,
 'OUT01': 11,
 'ADO05': 3,
 'DAU12': 14,
 'LAV01': 10,
 'PAX09': 24,
 'MAS04': 14,
 'BRT04': 8,
 'CND11': 9,
 'BRI01': 6,
 'MAS05': 7,
 'BRY05': 9,
 'DAU13': 15,
 'LAV03': 17,
 'PAX10': 16,
 'MSC04': 10,
 'GAN03': 7,
 'BRT05': 5,
 'BMT04': 13,
 'MAS06': 8,
 'TRI12': 8,
 'JAS12': 8,
 'DIG01': 11,
 'IND05': 27,
 'DAU14': 5,
 'LAV02': 5,
 'GAN04': 6,
 'BRI02': 2,
 'HEC01': 20,
 'MRS10': 10,
 'TRI13': 2,
 'HRC08': 1,
 'MAS07': 3,
 'BMT05': 2,
 'BRI04': 1,
 'AQU02': 2,
 'SIR07': 1,
 'DAU15': 3,
 'CRN01': 3,
 'GAN05': 4,
 'AIG08': 1,
 'ATF02': 1,
 'UNI03': 3,
 'POD03': 8,
 'LIO05': 1,
 'DAU16': 2,
 'AJX04': 1,
 'AQU03': 3,
 'BRI05': 2,
 'TER01': 2,
 'TRI14': 6,
 'SEV01': 7,
 'AIG09': 2,
 'ZEP07': 2,
 'BMT06': 7,
 'GAN06': 6,
 'TAM01': 8,
 'AQU04': 1,
 'UNI04': 1,
 'DAU17': 1,
 'OIS04': 1,
 'OIS03': 1,
 'RAI01': 1,
 'JUP09': 1,
 'BRI06': 4,
 'LEG08': 1,
 'OBL01': 1,
 'MDM01': 4,
 'DLG08': 1,
 'JAM01': 1,
 'ACH05': 1,
 'SEI02': 1,
 'BAS01': 1,
 'GUA01': 2,
 'VAL09': 1,
 'CDA01': 1,
 'FRT01': 2,
 'MQM01': 1,
 'FLO11': 1,
 'ASE01': 2,
 'FIE06': 3,
 'CDC01': 3,
 'MED03': 1,
 'SEN01': 1,
 'SAG03': 1,
 'IRI01': 3,
 'DIA09': 1,
 'FRA01': 10,
 'ARD01': 2,
 'ASI01': 2,
 'THR01': 1,
 'FVI02': 1,
 'ELE09': 8,
 'CLE01': 2,
 'UNI06': 1,
 'MIR01': 2,
 'BHR01': 3,
 'CDM01': 2,
 'AIS01': 1,
 'SOP01': 1,
 'PDF01': 2,
 'NDC01': 3,
 'DAU18': 1,
 'NEP10': 3,
 'JCE01': 1,
 'CAS01': 1,
 'BOL03': 1,
 'BRG01': 3,
 'MQC05': 6,
 'PRV01': 1,
 'AMI01': 1,
 'AVE05': 2,
 'FAB01': 2,
 'STE01': 3,
 'AIG02': 1,
 'CDB01': 6,
 'OIS05': 1,
 'CON01': 1,
 'BAM01': 1,
 'FAU01': 3,
 'NOI01': 1,
 'REI09': 6,
 'DAU19': 3,
 'REL01': 3,
 'UNI07': 1,
 'MDC02': 9,
 'MQL01': 2,
 'PDF02': 2,
 'OIS06': 1,
 'MDD01': 2,
 'AST06': 2,
 'CDV01': 7,
 'AMP01': 2,
 'PRO01': 2,
 'SAO02': 1,
 'BEL03': 2,
 'TIG03': 5,
 'ALC04': 1,
 'LIO03': 1,
 'LIO04': 1,
 'AST11': 1,
 'CYB07': 1,
 'VTR03': 1,
 'AIG07': 1,
 'MRS09': 1,
 'CEN07': 1,
 'LEG07': 1,
 'AUR12': 1,
 'DRY03': 2,
 'ACT01': 11,
 'HRT01': 3,
 'AFR02': 4,
 'ALX03': 5,
 'ALX07': 3,
 'ALX08': 1,
 'ALX09': 1,
 'ALX10': 2,
 'ALX11': 1,
 'ALO01': 2,
 'ALO03': 1,
 'AMP03': 6,
 'AMP04': 8,
 'AMP06': 1,
 'AME01': 2,
 'AME02': 2,
 'AME05': 1,
 'ANY02': 3,
 'EXP04': 3,
 'ARG01': 3,
 'ARG02': 4,
 'ARG03': 1,
 'ARG08': 5,
 'ATA01': 3,
 'ATA02': 2,
 'ELE03': 1,
 'ATA04': 12,
 'ATA05': 17,
 'ATA06': 1,
 'AVE03': 1,
 'AVE04': 1,
 'ESP02': 3,
 'ESP03': 1,
 'ESP05': 1,
 'ESP06': 1,
 'ESP07': 1,
 'ESP08': 1,
 'ESP10': 1,
 'ESP11': 1,
 'ESP13': 1,
 'ESP12': 1,
 'EXP07': 10,
 'EXP08': 1,
 'ELE04': 1,
 'HIR04': 6,
 'HIR05': 1,
 'HIR06': 1,
 'HIR07': 1,
 'HIR08': 1,
 'HIR10': 1,
 'HIR09': 1,
 'HIR11': 1,
 'HER04': 2,
 'ECR01': 11,
 'ELI01': 1,
 'ELI03': 1,
 'ELI04': 2,
 'ELI05': 1,
 'ELE05': 12,
 'ELE07': 24,
 'BAL01': 3,
 'BAL04': 1,
 'BAL05': 2,
 'BAL06': 1,
 'BAL07': 2,
 'BAL08': 2,
 'BAL09': 5,
 'BAL10': 5,
 'BAL11': 6,
 'BAL12': 3,
 'BAL13': 1,
 'BAL14': 24,
 'BLT01': 6,
 'BLT02': 3,
 'CMT05': 4,
 'BEL01': 1,
 'BEL02': 1,
 'BAV01': 1,
 'BRG02': 1,
 'BRG03': 1,
 'BRN01': 2,
 'CLP01': 1,
 'CLP02': 1,
 'CLP03': 1,
 'CRM02': 3,
 'CRM03': 1,
 'CHM01': 1,
 'CHM02': 1,
 'CIV01': 1,
 'CLM01': 4,
 'CDI01': 11,
 'DCS04': 1,
 'CDI03': 14,
 'CDI04': 14,
 'FAV02': 4,
 'CDI05': 29,
 'CMT01': 2,
 'CMT02': 4,
 'CMT03': 1,
 'CMT04': 2,
 'CMT06': 1,
 'DRA01': 1,
 'VAL05.02': 3,
 'GRS02': 29,
 'DLG05': 4,
 'DLG06': 14,
 'DLG07': 1,
 'DLG09': 1,
 'DLG10': 1,
 'NER04': 3,
 'CNS01': 1,
 'DCS01': 8,
 'DCS02': 2,
 'DCS03': 4,
 'DCN01': 1,
 'DUR01': 1,
 'DUR02': 3,
 'DUR03': 1,
 'DUR04': 4,
 'DUR05': 2,
 'REN04': 14,
 'FAV03': 2,
 'FAV01': 2,
 'FAV04': 4,
 'FAV05': 2,
 'FAV06': 1,
 'FTN03': 1,
 'FTN07': 1,
 'FTN08': 1,
 'FTN09': 1,
 'FTN10': 1,
 'GAL01': 1,
 'GAL03': 2,
 'GAL04': 4,
 'GAL05': 1,
 'GAL06': 5,
 'GAL07': 1,
 'GAZ01': 1,
 'GIR01': 1,
 'GIR02': 1,
 'GIR03': 1,
 'GIR04': 2,
 'GIR05': 2,
 'GIR06': 3,
 'GIR07': 4,
 'GIR08': 3,
 'GRS01': 4,
 'SUL04': 1,
 'GRS03': 2,
 'HRT02': 3,
 'HRT06': 1,
 'HRT07': 1,
 'MRI01': 2,
 'MGN01': 1,
 'NER01': 1,
 'NER02': 3,
 'NER03': 2,
 'SYD02': 34,
 'NER05': 1,
 'PAR01': 1,
 'PRD01': 1,
 'PRD02': 6,
 'PRD03': 1,
 'REC01': 1,
 'REN02': 2,
 'REN03': 1,
 'REN05': 1,
 'REN07': 1,
 'REN06': 1,
 'REN08': 1,
 'REN09': 1,
 'REN10': 1,
 'REN11': 1,
 'REL02': 2,
 'RES02': 1,
 'RES03': 1,
 'STF01': 2,
 'STR01': 7,
 'SUB01': 14,
 'SUB03': 12,
 'SUL02': 1,
 'SUL03': 2,
 'SYD01': 29,
 'SER01': 2,
 'VES01': 1,
 'VES02': 3,
 'VES03': 2,
 'VES04': 2,
 'VIC02': 6,
 'VIC04': 1,
 'VIC03': 1,
 'VIC05': 1,
 'VDC01': 4,
 'VDC02': 1,
 'VDC03': 4,
 'VDC04': 2,
 'VDC05': 1,
 'VDA01': 1,
 'VDA02': 4,
 'AUR02': 1,
 'AUR07': 1,
 'HRT03': 2,
 'EXP06': 9,
 'AFR01': 1,
 'ALX01': 2,
 'ALX05': 2,
 'ALX06': 1,
 'ALO02': 1,
 'ELE06': 5,
 'AMP02': 1,
 'AMP05': 7,
 'AME03': 4,
 'AME04': 1,
 'ANG01': 1,
 'ANG02': 9,
 'ARG04': 1,
 'ARG05': 8,
 'ARG06': 9,
 'ARG07': 5,
 'ARG09': 10,
 'ARG10': 1,
 'ARG11': 1,
 'ATA03': 6,
 'AVE01': 1,
 'AVE02': 1,
 'ESP01': 1,
 'ESP04': 1,
 'ESP09': 25,
 'EXP02': 1,
 'EXP03': 4,
 'EXP05': 2,
 'HRT05': 2,
 'HIR02': 1,
 'INT02': 2,
 'ELI02': 7,
 'HIR03': 10,
 'ELE01': 1,
 'ELE02': 1,
 'ELE08': 10,
 'DLG02': 1,
 'DFR01': 1,
 'CAR03': 15,
 'DFR02': 4,
 'DFR03': 3,
 'DFR04': 1,
 'DFR05': 1,
 'DFR06': 1,
 'DFR07': 1,
 'TRC01': 1,
 'TRC02': 2,
 'TRC03': 8,
 'BDB01': 1,
 'BOL01': 16,
 'BOL02': 17,
 'BOL04': 2,
 'BOL05': 1,
 'CRN02': 1,
 'CEN02': 4,
 'DDC12': 1,
 'CFV01': 1,
 'CFV02': 2,
 'CFV03': 1,
 'CAG01': 2,
 'CRL01': 1,
 'CRL02': 15,
 'CHV01': 5,
 'CHV02': 5,
 'CHV03': 11,
 'CHV04': 11,
 'CVM01': 2,
 'CVM02': 12,
 'CVM03': 5,
 'CAR01': 2,
 'CAR04': 41,
 'CAT01': 16,
 'CAT02': 47,
 'CDT06': 4,
 'CAT04': 27,
 'CAT05': 1,
 'CAT07': 2,
 'CAT08': 1,
 'CDP02': 54,
 'CDP01': 25,
 'CDT05': 6,
 'CDP03': 4,
 'CDT02': 1,
 'CDT03': 1,
 'DDO14': 2,
 'CDT04': 1,
 'CDT07': 7,
 'CAR05': 9,
 'CAR06': 18,
 'CAT03': 52,
 'DBO07': 14,
 'DBO08': 2,
 'DBG02': 3,
 'DBG04': 42,
 'COR02': 2,
 'CRB01': 3,
 'CRB02': 2,
 'CRB03': 1,
 'CRB04': 2,
 'COR01': 1,
 'COR03': 1,
 'COR04': 4,
 'COR05': 1,
 'COR06': 3,
 'COR07': 1,
 'COR08': 1,
 'COR09': 1,
 'COR10': 3,
 'DRO01': 3,
 'DRO02': 4,
 'DRO03': 1,
 'DRO04': 3,
 'DRO05': 1,
 'DRO06': 3,
 'DRO07': 33,
 'DRO08': 1,
 'DAI03': 4,
 'DDO13A': 3,
 'DDO13B': 41,
 'DDB01': 4,
 'DBO01': 1,
 'DBO02': 3,
 'DBO03': 1,
 'DBO04': 1,
 'DBO05': 15,
 'DBO06': 5,
 'DBG01': 13,
 'DDU02': 6,
 'DBE02': 1,
 'DBE03': 6,
 'DBE04': 20,
 'DDC01': 2,
 'DDC02': 6,
 'DDC03': 1,
 'DDC04': 5,
 'DDC05': 9,
 'DDC06': 1,
 'DDC07': 1,
 'DDC08': 10,
 'DDC09': 5,
 'DDP04': 2,
 'DDC10': 6,
 'DDC11': 1,
 'DDC13': 5,
 'DDC14': 21,
 'DDO08': 11,
 'DDC15': 1,
 'DDC16': 2,
 'DCH01': 30,
 'DCH02': 2,
 'DCH03': 18,
 'MQC02': 21,
 'DCH04': 12,
 'DDU01': 13,
 'DDU03': 3,
 'DDU04': 5,
 'DDN01': 1,
 'DDN02': 4,
 'DDN03': 2,
 'DDN04': 4,
 'DPR02': 9,
 'DDN05': 1,
 'DDN06': 1,
 'DNO01': 1,
 'DDP01': 3,
 'DPR01': 19,
 'DPR03': 1,
 'DPR04': 1,
 'DPR05': 3,
 'DDM01': 1,
 'DDM02': 2,
 ...}