In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('Place List - PlaceList rev..csv')
df

,Port,LAT,LON,Place Name,Alt Place Name,Orig_Class_1/Continent,Orig_Class_2/Country,Orig_Class_3,Province,working notes (don't need to import!)
0,NaN,47.96345,-3.173470,Bubry,xBubry,201.0,201.0,210,NaN,NaN
1,NaN,48.037,-4.666060,Plogoff,xPlogoff,201.0,201.0,210,NaN,NaN
2,NaN,48.56726,-3.701420,Plouigneau,xPlouigneau,201.0,201.0,210,NaN,NaN
3,NaN,48.62048,-2.133480,Saint-Briac-sur-Mer,xSaint-Briac,201.0,201.0,210,NaN,NaN
4,NaN,50.105467,1.836833,Abbeville,NaN,201.0,201.0,NaN,Picardy,NaN
...,...,...,...,...,...,...,...,...,...,...
915,R,NaN,NaN,Terres Australes,NaN,208.0,237.0,NaN,Australia??,NaN
916,C,NaN,NaN,New Zealand,Nouvelle-Zélande,208.0,237.0,NaN,%,NaN
917,C,-8.7972,162.668000,Solomon Islands,Îles Salomon,208.0,237.0,NaN,NaN,NaN
918,NaN,NaN,NaN,at sea,en mer,NaN,NaN,NaN,NaN,NaN
919,NaN,NaN,NaN,large côte d’Afrique,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.columns

Index(['Port', 'LAT', 'LON', 'Place Name', 'Alt Place Name',
       'Orig_Class_1/Continent', 'Orig_Class_2/Country', 'Orig_Class_3',
       'Province', 'working notes (don't need to import!)'],
      dtype='object')