In [10]:
import pandas as pd
from tqdm import tqdm

In [12]:
df_r = pd.read_csv('record_corrected.csv', low_memory=False).rename(columns={'id': 'record_id'})
df_r_columns = list(df_r.columns)
df_p = pd.read_csv('person.csv', low_memory=False).rename(columns={'id': 'person_id'})
df_p_columns = list(df_p.columns)
df_v = pd.read_csv('voyage.csv', low_memory=False).rename(columns={'id': 'voyage_id'}).drop(columns=['ship_code'])
df_v_columns = list(df_v.columns)
df_s = pd.read_csv('ship.csv', low_memory=False).rename(columns={'id': 'ship_id'})
df_s_columns = list(df_s.columns)
df_f = pd.read_csv('functions.csv', low_memory=False).rename(columns={'id': 'function_id'})
df_f_columns = list(df_f.columns)
df_o = pd.read_csv('origin.csv', low_memory=False).rename(columns={'id': 'origin_id'})
df_o_columns = list(df_o.columns)
# df1 = pd.merge(df_r, df_p, on='person_index', how='inner')
# df2 = pd.merge(df1, df_v, on='voyage_index', how='inner')
# df3 = pd.merge(df2, df_o, on='origin_index', how='inner')
# df4 = pd.merge(df3, df_f, on='function_index', how='inner')
# df = pd.merge(df4, df_s, on='ship_index', how='inner')

In [53]:
ok = []
dc = {
    'MED_A': [151, 154],
    'BEL_A': [247, 248],
    'DFR_A': [292, 293],
    'GCR_B': [163, 325],
    'LYS_A': [50, 61],
    'ANG_A': [288, 289],
    'SOL_A': [0, 32],
    'DDN_A': [316, 317],
    'ACH_B': [161, 167],
    'CEN_A': [60, 295]
}
for i in dc:
    ok.append(dc[i][1])

In [31]:
df_r[df_r['ship_index']=='288/289']

Empty DataFrame
Columns: [record_id, file_name, n, age, build, complexion, conscription, wage, remarks, f_n, zot_title, record_index, date_of_birth, date_of_death, medical_issues, passage_paid_by, emb_date, emb_loc, emb_class, disemb_date, disemb_loc, disemb_class, days_on_voyage, earnings, person_index, origin_index, function_index, ship_index, voyage_index]
Index: []

[0 rows x 29 columns]

In [50]:
res = []
temp = list(df_merged.drop_duplicates(subset=['ship_code'])['ship_index'])
for i in range(581):
    if i not in temp:
        res.append(i)

In [64]:
df_merged.drop_duplicates(subset=['ship_code']).to_csv('ship_merged.csv')

In [11]:
temp = list(set(df_s['ship_code']))
crrf = {}
for i in temp:
    crrf[i] = list(df_s[df_s['ship_code']==i]['ship_index'])
crrf

{'JAS_D': [489],
 'AIM_B': [63],
 'SAL_A': [344],
 'BRY_A': [90],
 'DNO_A': [127],
 'SER_A': [283],
 'ADO_B': [364],
 'MED_A': [151, 154],
 'CHM_A': [253],
 'BDB_A': [125],
 'AUR_E': [397],
 'NAN_B': [124],
 'SEI_A': [112],
 'CAT_C': [414],
 'CND_B': [424],
 'DLG_L': [448],
 'AQU_C': [387],
 'UNI_B': [28],
 'DFR_C': [442],
 'DLG_H': [258],
 'FIE_B': [463],
 'CEN_C': [419],
 'NEP_D': [516],
 'CDP_A': [303],
 'ASI_A': [199],
 'DAU_H': [433],
 'CFV_C': [420],
 'MRS_C': [510],
 'ENT_C': [116],
 'TEM_A': [360],
 'PAO_C': [524],
 'DCN_A': [260],
 'CAR_B': [412],
 'DXC_A': [197],
 'CYG_B': [425],
 'NEP_K': [520],
 'AVE_C': [400],
 'DDQ_A': [322],
 'STL_F': [555],
 'ALC_D': [373],
 'SOP_B': [206],
 'NOI_A': [129],
 'MUT_A': [3],
 'DLG_J': [446],
 'ATA_C': [393],
 'POD_C': [532],
 'OUR_A': [73],
 'BAL_C': [403],
 'BRL_E': [410],
 'AVE_A': [218],
 'ANY_B': [383],
 'REN_A': [275],
 'TRI_E': [566],
 'AGS_B': [24],
 'MRI_K': [507],
 'CIG_A': [57],
 'ESP_C': [458],
 'GAN_B': [472],
 'SEV_A': [182],
 'CVM_A': [300],
 'OIS_D': [522],
 'AMP_C': [382],
 'AST_C': [391],
 'ESP_A': [239],
 'DIA_F': [444],
 'LIU_A': [54],
 'SUR_A': [113],
 'VEN_B': [574],
 'FIE_D': [464],
 'PDC_C': [528],
 'JUP_A': [33],
 'OIS_A': [29],
 'SLC_A': [88],
 'BOL_A': [211],
 'PRD_D': [15],
 'FIN_A': [92],
 'SIR_E': [547],
 'IND_D': [487],
 'BEL_A': [247, 248],
 'DLG_C': [135],
 'GAL_A': [264],
 'LIO_A': [101],
 'MER_A': [23],
 'DAI_B': [426],
 'TRI_C': [10],
 'DFR_A': [292, 293],
 'DCH_A': [314],
 'NEP_J': [519],
 'VLN_A': [361],
 'STC_E': [342],
 'BRL_A': [97],
 'COR_A': [305],
 'STP_N': [559],
 'MQS_A': [329],
 'AGS_D': [366],
 'BOL_C': [405],
 'BRG_B': [408],
 'AIG_E': [368],
 'BOU_B': [406],
 'SEL_A': [279],
 'STE_E': [220],
 'HIR_E': [479],
 'MQL_A': [328],
 'JAL_A': [95],
 'JAS_B': [488],
 'VIC_E': [576],
 'CAV_A': [152],
 'CDI_A': [168],
 'DRO_B': [450],
 'THE_B': [562],
 'JOL_A': [160],
 'DUR_B': [451],
 'CDB_A': [221],
 'ASN_A': [132],
 'ROS_B': [105],
 'ADO_A': [30],
 'DUR_A': [261],
 'LEG_B': [42],
 'DBE_A': [312],
 'DDC_C': [437],
 'FTN_C': [263],
 'MQC_A': [213],
 'STC_A': [346],
 'HER_F': [475],
 'JCE_A': [209],
 'IRI_A': [196],
 'MED_B': [502],
 'MQB_A': [327],
 'GLO_B': [473],
 'CRF_A': [13],
 'SED_A': [357],
 'JUP_C': [491],
 'REN_C': [539],
 'PRO_A': [230],
 'BRS_A': [69],
 'CAT_D': [415],
 'STA_A': [345],
 'ELE_B': [452],
 'GCR_B': [163, 325],
 'AMO_A': [126],
 'ELE_D': [454],
 'HIR_G': [481],
 'DDP_A': [318],
 'MSC_A': [513],
 'SIR_D': [546],
 'TER_A': [181],
 'NAI_A': [11],
 'MRI_I': [506],
 'FIE_A': [26],
 'TIG_C': [564],
 'CND_A': [36],
 'MAS_A': [91],
 'TRI_D': [565],
 'FAU_B': [225],
 'UNI_G': [570],
 'PDC_A': [139],
 'CDM_A': [203],
 'DLG_K': [447],
 'MOS_A': [78],
 'LIO_B': [496],
 'FLO_A': [149],
 'SAO_A': [6],
 'FTN_A': [85],
 'ELI_B': [244],
 'SOL_E': [550],
 'ACT_A': [232],
 'DDM_A': [320],
 'MDC_A': [227],
 'AUR_F': [398],
 'ZEP_B': [99],
 'VES_A': [284],
 'BAV_A': [249],
 'AME_B': [380],
 'PRN_A': [72],
 'HER_G': [476],
 'HIR_D': [478],
 'AST_A': [12],
 'AMI_B': [215],
 'PST_C': [534],
 'FAV_B': [462],
 'LMB_A': [39],
 'ALO_C': [375],
 'MON_A': [166],
 'STM_B': [354],
 'SNG_A': [77],
 'DPE_D': [122],
 'BIC_B': [74],
 'APO_D': [386],
 'MER_B': [503],
 'MRS_A': [143],
 'AUR_G': [399],
 'AME_A': [236],
 'DLG_A': [291],
 'CVM_B': [301],
 'DFR_B': [441],
 'SCT_A': [347],
 'CHV_A': [299],
 'DCH_C': [93],
 'CNT_A': [65],
 'SEY_A': [358],
 'SOL_D': [549],
 'NAI_B': [514],
 'THR_C': [200],
 'APO_C': [385],
 'CAT_A': [104],
 'PRD_C': [273],
 'FLO_H': [468],
 'JAS_A': [52],
 'ELI_I': [457],
 'HRC_D': [484],
 'COL_A': [222],
 'NEP_C': [18],
 'ATA_A': [238],
 'MRS_D': [511],
 'CIV_A': [254],
 'VDC_B': [286],
 'MDM_A': [185],
 'CDT_G': [304],
 'FAV_A': [262],
 'HRC_B': [20],
 'ELI_H': [245],
 'STP_D': [355],
 'SAG_A': [35],
 'STC_C': [551],
 'REN_E': [541],
 'PEL_A': [49],
 'CFV_A': [296],
 'ANN_A': [40],
 'DDC_A': [313],
 'GLO_A': [59],
 'GUA_A': [188],
 'MDD_A': [228],
 'UTL_B': [17],
 'MRI_F': [505],
 'PAX_C': [66],
 'POD_B': [180],
 'UNI_H': [571],
 'CRN_A': [179],
 'VTR_A': [94],
 'BOL_B': [404],
 'FUL_A': [64],
 'DDO_A': [169],
 'REL_A': [226],
 'VIC_D': [575],
 'ATF_A': [21],
 'REN_D': [540],
 'BRE_B': [102],
 'APO_B': [384],
 'BOT_A': [89],
 'NEP_F': [517],
 'RES_B': [542],
 'FLO_F': [467],
 'BRC_A': [159],
 'NEC_A': [332],
 'IND_A': [41],
 'BRT_B': [174],
 'ALX_B': [377],
 'AIG_D': [367],
 'DLG_E': [445],
 'RES_A': [276],
 'FRT_A': [190],
 'HRT_A': [241],
 'MIN_A': [270],
 'NDC_A': [208],
 'RUC_A': [120],
 'MIR_A': [217],
 'LEG_C': [492],
 'CRM_B': [252],
 'REN_B': [538],
 'CDV_A': [229],
 'ZEP_A': [25],
 'DAI_C': [427],
 'DRA_A': [162],
 'DBO_A': [310],
 'DBG_A': [311],
 'MQC_B': [504],
 'DIG_A': [177],
 'MRI_C': [107],
 'NER_A': [271],
 'AJX_A': [173],
 'DAU_E': [430],
 'CNS_A': [257],
 'STL_E': [554],
 'VTR_B': [578],
 'ANY_A': [68],
 'AUR_B': [1],
 'LYS_A': [50, 61],
 'LYS_C': [499],
 'STP_F': [556],
 'CHS_A': [56],
 'AUR_D': [396],
 'FLE_B': [157],
 'BHR_B': [202],
 'DDU_B': [315],
 'ASE_A': [192],
 'ALX_D': [379],
 'ARG_C': [389],
 'DDC_B': [436],
 'HER_D': [474],
 'BRG_A': [212],
 'AUR_C': [395],
 'ANG_A': [288, 289],
 'SUC_A': [83],
 'LEG_D': [493],
 'VEN_A': [108],
 'DAU_F': [431],
 'HIR_A': [7],
 'AGS_C': [365],
 'BRN_A': [250],
 'VIC_C': [285],
 'FTN_F': [470],
 'ROU_A': [165],
 'SGV_A': [348],
 'DDO_C': [439],
 'PAX_D': [526],
 'PHL_A': [14],
 'LGR_A': [96],
 'DCH_B': [435],
 'HER_B': [51],
 'CLM_C': [255],
 'UTL_D': [572],
 'FID_D': [170],
 'ARD_A': [205],
 'AIG_B': [38],
 'FIE_C': [55],
 'ELI_D': [455],
 '555': [53, 84, 106, 111, 193, 290, 335, 343, 351, 352],
 'AVE_D': [401],
 'PAR_A': [272],
 'BRS_B': [411],
 'SUB_C': [560],
 'ACH_C': [363],
 'DDO_D': [440],
 'PDC_B': [527],
 'RSN_A': [98],
 'CRM_A': [158],
 'EXP_D': [461],
 'CDA_A': [189],
 'STL_A': [353],
 'PHP_A': [336],
 'AJX_B': [371],
 'GAL_B': [265],
 'REI_A': [150],
 'TIG_B': [563],
 'PHE_A': [148],
 'HIR_F': [480],
 'GLX_A': [164],
 'MAC_A': [76],
 'JAM_A': [186],
 'SOL_B': [548],
 'TRC_A': [294],
 'UNI_E': [568],
 'VNG_A': [80],
 'PEN_D': [531],
 'DRY_A': [19],
 'PEN_B': [176],
 'LOI_A': [138],
 'CHA_A': [75],
 'PRF_A': [31],
 'STR_A': [278],
 'ECR_A': [243],
 'VDA_A': [287],
 'RUB_A': [145],
 'SYD_A': [282],
 'HRT_B': [485],
 'SEN_A': [195],
 'NEC_D': [515],
 'BAL_A': [8],
 'CLP_A': [251],
 'DRO_A': [307],
 'PST_A': [338],
 'LYS_B': [498],
 'DAU_D': [429],
 'CEN_B': [418],
 'ALC_A': [48],
 'FRA_A': [198],
 'DDB_A': [309],
 'CHA_B': [421],
 'PAO_B': [27],
 'STF_B': [277],
 'CAR_A': [302],
 'SEI_C': [545],
 'SOL_A': [0, 32],
 'CDC_A': [194],
 'CLE_A': [216],
 'LIO_C': [497],
 'MIG_A': [44],
 'BRA_B': [47],
 'SAG_B': [543],
 'MRS_E': [512],
 'ZOD_A': [82],
 'AIS_A': [204],
 'PUX_A': [340],
 'MDC_B': [501],
 'CAS_A': [210],
 'CAT_B': [413],
 'AMP_B': [381],
 'MRP_B': [508],
 'ANS_C': [67],
 'CUP_A': [45],
 'VLG_B': [136],
 'SUP_B': [109],
 'DDO_B': [438],
 'STP_J': [558],
 'DLG_M': [449],
 'BEL_C': [231],
 'DDN_A': [316, 317],
 'VDL_B': [2],
 'ALO_A': [234],
 'PBL_A': [121],
 'TRI_F': [567],
 'CRX_A': [22],
 'ESP_F': [459],
 'PST_E': [535],
 'ACH_B': [161, 167],
 'DCS_A': [259],
 'AST_B': [390],
 'DAU_G': [432],
 'DAN_A': [142],
 'LEG_G': [495],
 'THE_A': [140],
 'ART_A': [103],
 'DOU_A': [146],
 'DPR_A': [319],
 'MDS_A': [331],
 'BAS_B': [187],
 'RPH_A': [341],
 'CEN_A': [60, 295],
 'DAM_A': [70],
 'OBL_A': [184],
 'TIG_A': [133],
 'EUN_A': [128],
 'ALO_B': [374],
 'INT_A': [242],
 'BRL_D': [409],
 'DBO_B': [434],
 'TRI_B': [9],
 'FLO_D': [466],
 'REI_C': [537],
 'FTN_E': [469],
 'MQM_A': [191],
 'PCH_A': [334],
 'LAV_A': [175],
 'BAM_A': [224],
 'BRI_A': [100],
 'REI_B': [536],
 'FTN_G': [471],
 'HEC_A': [178],
 'CYB_A': [37],
 'BAD_A': [141],
 'EXP_A': [240],
 'SIL_A': [359],
 'STG_A': [349],
 'CAL_A': [115],
 'CLP_B': [423],
 'AIV_A': [117],
 'VIV_B': [577],
 'VAI_C': [171],
 'MGN_A': [269],
 'SAG_C': [544],
 'OIS_E': [523],
 'ALC_C': [372],
 'BAL_B': [402],
 'POR_A': [4],
 'MES_B': [330],
 'MAU_A': [137],
 'FLE_C': [465],
 'LEG_E': [494],
 'VAL_A': [156],
 'GRS_A': [268],
 'VAL_B': [573],
 'CMT_A': [256],
 'ALX_A': [118],
 'LYS_D': [500],
 'MRP_A': [58],
 'GRF_A': [153],
 'FAB_A': [219],
 'CDP_B': [416],
 'ALO_D': [376],
 'PEN_C': [530],
 'AIG_F': [369],
 'PDF_B': [207],
 'REC_A': [274],
 'UNI_F': [569],
 'BRE_C': [407],
 'FOD_A': [323],
 'EXP_B': [460],
 'HIR_H': [482],
 'STP_I': [557],
 'PHE_B': [155],
 'ELE_A': [201],
 'BMT_B': [172],
 'CHA_C': [422],
 'ATF_B': [394],
 'BNA_A': [81],
 'GAN_A': [87],
 'NEP_G': [518],
 'JPR_A': [110],
 'GAZ_A': [266],
 'JNN_A': [147],
 'VIV_A': [362],
 'CON_A': [223],
 'HRN_A': [43],
 'MRC_A': [119],
 'PRV_A': [214],
 'MOZ_A': [114],
 'ARG_A': [237],
 'CIT_A': [131],
 'CRB_A': [306],
 'SPR_A': [356],
 'CYG_A': [46],
 'APO_A': [62],
 'CAG_A': [297],
 'AIG_G': [370],
 'ALX_C': [378],
 'LEO_A': [134],
 'STJ_B': [350],
 'ARG_B': [388],
 'OIS_B': [521],
 'RAI_A': [183],
 'BLT_B': [246],
 'GER_A': [324],
 'HRC_C': [483],
 'ELE_C': [453],
 'SIR_A': [16],
 'DAI_A': [308],
 'LVF_A': [326],
 'PEN_A': [333],
 'AQU_A': [144],
 'LCH_A': [130],
 'CHR_A': [5],
 'CRL_A': [298],
 'DAN_B': [428],
 'HIR_C': [477],
 'DDA_A': [321],
 'AFR_A': [233],
 'STL_D': [553],
 'ELI_F': [456],
 'PON_A': [337],
 'ZEP_C': [580],
 'MDA_A': [123],
 'STJ_H': [552],
 'SUB_B': [280],
 'IND_C': [486],
 'ATA_B': [392],
 'DIA_D': [443],
 'VTR_C': [579],
 'BOU_A': [86],
 'DIA_A': [34],
 'JUP_B': [490],
 'PDC_D': [529],
 'SUL_A': [281],
 'GIR_A': [267],
 'PAO_D': [525],
 'BRK_A': [71],
 'AMP_A': [235],
 'SUL_B': [561],
 'MRP_C': [509],
 'PRC_A': [339],
 'PRC_B': [533],
 'CDT_H': [417],
 'DAU_A': [79]}

In [21]:
index_map = {pair[1]: pair[0] for pair in {
    'MED_A': [151, 154],
    'BEL_A': [247, 248],
    'DFR_A': [292, 293],
    'GCR_B': [163, 325],
    'LYS_A': [50, 61],
    'ANG_A': [288, 289],
    'SOL_A': [0, 32],
    'DDN_A': [316, 317],
    'ACH_B': [161, 167],
    'CEN_A': [60, 295]
}.values()}

df_r['ship_index'] = df_r['ship_index'].replace(index_map)

In [25]:
df_r.to_csv('record_no_dup_ship_index.csv')

In [30]:
for index, row in tqdm(df_s.iterrows()):
    ship_code = row['ship_code']
    if ship_code in dups and ship_code != '555':
        df_s.at[index, 'ship_index'] = dups[ship_code][0]

581it [00:00, 5315.99it/s]

In [32]:
df_s[df_s['ship_index']==289]

Empty DataFrame
Columns: [ship_id, ship_name, ship_built_date, ship_built_place, ship_type, tonnage, guns, ship_index, ship_code]
Index: []

In [47]:
temp = []
a = list(df['record_id'])
for i in tqdm(range(1, 219062)):
    if i not in a:
        temp.append(i)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 219061/219061 [05:07<00:00, 713.25it/s]

In [50]:
df_s

,ship_id,ship_name,ship_built_date,ship_built_place,ship_type,tonnage,guns,ship_index,ship_code
0,1,Solide,NaN,NaN,NaN,NaN,NaN,0,SOL_A
1,2,Aurore,NaN,NaN,NaN,NaN,NaN,1,AUR_B
2,3,Ville de Lorient,NaN,NaN,NaN,NaN,NaN,2,VDL_B
3,4,Mutine,NaN,NaN,NaN,NaN,NaN,3,MUT_A
4,5,Portefaix,NaN,NaN,NaN,NaN,NaN,4,POR_A
...,...,...,...,...,...,...,...,...,...
576,577,Victoire,NaN,NaN,NaN,NaN,NaN,576,VIC_E
577,578,Villevault,NaN,NaN,NaN,NaN,NaN,577,VIV_B
578,579,Vautour,NaN,NaN,NaN,NaN,NaN,578,VTR_B
579,580,Vautour,NaN,NaN,NaN,NaN,NaN,579,VTR_C
580,581,ZÃ©phir,NaN,NaN,NaN,NaN,NaN,580,ZEP_C

In [49]:
df_r[df_r['record_id'].isin(temp)]

,record_id,file_name,n,age,build,complexion,conscription,wage,remarks,f_n,...,disemb_date,disemb_loc,disemb_class,days_on_voyage,earnings,person_index,origin_index,function_index,ship_index,voyage_index
110731,110732,ROLE2P15-III.11_3055,1,34.0,m,ch,NaN,150,embarquÃ© Ã l'armement \n dÃ©barquÃ© Ã ?,NaN,...,NaN,NaN,NaN,NaN,NaN,18751,1,0,585,1148
110733,110734,ROLE2P15-III.11_3055,2,25.0,m,ch,NaN,120,embarquÃ© Ã l'armement \n dÃ©barquÃ© Ã ?,NaN,...,NaN,NaN,NaN,NaN,NaN,18752,1,74,585,1148
110735,110736,ROLE2P15-III.11_3055,3,30.0,m,ch,NaN,60,restÃ© Ã terre,NaN,...,NaN,NaN,NaN,NaN,NaN,18753,2006,2,585,1148
110737,110738,ROLE2P15-III.11_3055,4,27.0,m,ch,NaN,60,embarquÃ© Ã l'armement \n dÃ©barquÃ© Ã ?,NaN,...,NaN,NaN,NaN,NaN,NaN,18754,2007,2,585,1148
110739,110740,ROLE2P15-III.11_3055,5,25.0,m,ch,NaN,60,embarquÃ© Ã l'armement \n dÃ©barquÃ© Ã ?,NaN,...,NaN,NaN,NaN,NaN,NaN,18755,2007,2,585,1148
110741,110742,ROLE2P15-III.11_3055,6,27.0,m,ch,NaN,60,embarquÃ© Ã l'armement \n dÃ©barquÃ© Ã ?,NaN,...,NaN,NaN,NaN,NaN,NaN,166081,766,2,585,1148
110743,110744,ROLE2P15-III.11_3055,7,18.0,m,ch,NaN,50,embarquÃ© Ã l'armement \n dÃ©barquÃ© Ã ?,NaN,...,NaN,NaN,NaN,NaN,NaN,18756,88,2,585,1148
110745,110746,ROLE2P15-III.11_3055,8,19.0,m,ch,NaN,50,embarquÃ© Ã l'armement \n dÃ©barquÃ© Ã ?,NaN,...,NaN,NaN,NaN,NaN,NaN,18757,8,2,585,1148
110747,110748,ROLE2P15-III.11_3055,9,21.0,m,ch,NaN,50,embarquÃ© Ã l'armement \n dÃ©barquÃ© Ã ?,NaN,...,NaN,NaN,NaN,NaN,NaN,4700,681,2,585,1148
110749,110750,ROLE2P15-III.11_3055,10,22.0,m,ch,NaN,50,embarquÃ© Ã l'armement \n dÃ©barquÃ© Ã ?,NaN,...,NaN,NaN,NaN,NaN,NaN,18758,91,2,585,1148
110751,110752,ROLE2P15-III.11_3055,11,20.0,m,ch,NaN,30,embarquÃ© Ã l'armement \n dÃ©barquÃ© Ã ?,NaN,...,NaN,NaN,NaN,NaN,NaN,18759,85,39,585,1148
110753,110754,ROLE2P15-III.11_3055,12,22.0,m,ch,NaN,30,embarquÃ© Ã l'armement \n dÃ©barquÃ© Ã ?,NaN,...,NaN,NaN,NaN,NaN,NaN,18760,169,39,585,1148
110755,110756,ROLE2P15-III.11_3055,14,NaN,NaN,NaN,NaN,24,embarquÃ© Ã l'armement \n dÃ©barquÃ© Ã ?,NaN,...,NaN,NaN,NaN,NaN,NaN,18761,644,21,585,1148
110757,110758,ROLE2P15-III.11_3055,13,17.0,m,ch,NaN,24,embarquÃ© Ã l'armement \n dÃ©barquÃ© Ã ?,NaN,...,NaN,NaN,NaN,NaN,NaN,166082,140,39,585,1148
114881,114882,ROLE2P15-VI.2_2057,1,30.0,m,ch,NaN,200,embarquÃ© Ã l'armement \n dÃ©barquÃ© Ã ? --- sr,NaN,...,NaN,NaN,NaN,NaN,NaN,21541,134,0,588,1160
114883,114884,ROLE2P15-VI.2_2057,2,24.0,m,ch,NaN,120,embarquÃ© Ã l'armement \n dÃ©barquÃ© Ã ?,336-215,...,NaN,NaN,NaN,NaN,NaN,21542,4,69,588,1160
114885,114886,ROLE2P15-VI.2_2057,3,28.0,m,ch,NaN,90,embarquÃ© Ã l'armement \n dÃ©barquÃ© Ã ?,NaN,...,NaN,NaN,NaN,NaN,NaN,21543,217,3,588,1160
114887,114888,ROLE2P15-VI.2_2057,5,27.0,m,b,NaN,70,embarquÃ© Ã l'armement \n dÃ©barquÃ© Ã ?,NaN,...,NaN,NaN,NaN,NaN,NaN,21544,280,35,588,1160
114889,114890,ROLE2P15-VI.2_2057,6,26.0,h,ch,NaN,50,embarquÃ© Ã l'armement \n dÃ©barquÃ© Ã ? --- Ã©tra...,NaN,...,NaN,NaN,NaN,NaN,NaN,21545,267,2,588,1160
114891,114892,ROLE2P15-VI.2_2057,7,23.0,m,ch,NaN,50,embarquÃ© Ã l'armement \n dÃ©barquÃ© Ã ? --- Ã©tra...,NaN,...,NaN,NaN,NaN,NaN,NaN,21546,745,2,588,1160
114893,114894,ROLE2P15-VI.2_2057,8,25.0,m,ch,NaN,50,embarquÃ© Ã l'armement \n dÃ©barquÃ© Ã ? --- etra...,NaN,...,NaN,NaN,NaN,NaN,NaN,21547,207,2,588,1160
114895,114896,ROLE2P15-VI.2_2057,9,21.0,m,ch,NaN,50,embarquÃ© Ã l'armement \n dÃ©barquÃ© Ã ?,NaN,...,NaN,NaN,NaN,NaN,NaN,21548,1449,2,588,1160
114897,114898,ROLE2P15-VI.2_2057,10,28.0,m,ch,NaN,30,embarquÃ© Ã l'armement \n dÃ©barquÃ© Ã ?,NaN,...,NaN,NaN,NaN,NaN,NaN,21549,110,39,588,1160
114899,114900,ROLE2P15-VI.2_2057,11,22.0,m,ch,NaN,30,embarquÃ© Ã l'armement \n dÃ©barquÃ© Ã ?,NaN,...,NaN,NaN,NaN,NaN,NaN,21550,288,39,588,1160
114901,114902,ROLE2P15-VI.2_2057,12,22.0,m,ch,NaN,30,embarquÃ© Ã l'armement \n dÃ©barquÃ© Ã ? --- 1er ...,NaN,...,NaN,NaN,NaN,NaN,NaN,21551,15,39,588,1160
114903,114904,ROLE2P15-VI.2_2057,13,18.0,m,ch,NaN,30,embarquÃ© Ã l'armement \n dÃ©barquÃ© Ã ? --- Ã©tra...,NaN,...,NaN,NaN,NaN,NaN,NaN,21552,2196,39,588,1160
114905,114906,ROLE2P15-VI.2_2057,14,32.0,m,ch,NaN,30,embarquÃ© Ã l'armement \n dÃ©barquÃ© Ã ? --- Ã©tra...,NaN,...,NaN,NaN,NaN,NaN,NaN,21553,1267,39,588,1160
114907,114908,ROLE2P15-VI.2_2057,17,13.0,NaN,NaN,NaN,12,embarquÃ© Ã l'armement \n dÃ©barquÃ© Ã ? --- 1er ...,NaN,...,NaN,NaN,NaN,NaN,NaN,21554,1,21,588,1160
114909,114910,ROLE2P15-VI.2_2057,18,12.0,NaN,NaN,NaN,12,embarquÃ© Ã l'armement \n dÃ©barquÃ© Ã ? --- 1er ...,NaN,...,NaN,NaN,NaN,NaN,NaN,21555,1,21,588,1160
114911,114912,ROLE2P15-VI.2_2057,19,NaN,NaN,NaN,NaN,NaN,embarquÃ© Ã Lorient pour Bordeaux \n dÃ©barquÃ© Ã ?,NaN,...,NaN,NaN,NaN,NaN,NaN,21556,51,23,588,1160
114913,114914,ROLE2P15-VI.2_2057,20,NaN,NaN,NaN,NaN,NaN,embarquÃ© Ã Lorient pour Bordeaux \n dÃ©barquÃ© Ã ...,NaN,...,NaN,NaN,NaN,NaN,NaN,21557,51,68,588,1160
114915,114916,ROLE2P15-VI.2_2057,22,NaN,NaN,NaN,NaN,NaN,embarquÃ© Ã Lorient pour Bordeaux \n dÃ©barquÃ© Ã ...,NaN,...,NaN,NaN,NaN,NaN,NaN,21558,60,23,588,1160
114917,114918,ROLE2P15-VI.2_2057,4,22.0,m,ch,NaN,70,embarquÃ© Ã l'armement \n dÃ©barquÃ© Ã ? --- 1er ...,NaN,...,NaN,NaN,NaN,NaN,NaN,166326,9,61,588,1160
114919,114920,ROLE2P15-VI.2_2057,15,36.0,m,ch,NaN,30,embarquÃ© Ã l'armement \n dÃ©barquÃ© Ã ? --- 1er ...,NaN,...,NaN,NaN,NaN,NaN,NaN,166327,988,39,588,1160
114921,114922,ROLE2P15-VI.2_2057,16,22.0,m,ch,NaN,50,embarquÃ© Ã l'armement \n dÃ©barquÃ© Ã ?,NaN,...,NaN,NaN,NaN,NaN,NaN,166328,51,19,588,1160
114923,114924,ROLE2P15-VI.2_2057,21,NaN,NaN,NaN,NaN,NaN,embarquÃ© Ã Lorient pour Bordeaux \n dÃ©barquÃ© Ã ...,NaN,...,NaN,NaN,NaN,NaN,NaN,166329,60,68,588,1160

In [ ]:
df = df.drop(columns=['record_index', 'origin_index', 'ship_index', 'voyage_index', 'function_index', 'person_index'])

In [23]:
df_columns = ['record_id', 'file_name', 'n', 'age', 'build', 'complexion',
       'conscription', 'wage', 'remarks', 'f_n', 'zot_title', 'date_of_birth',
       'date_of_death', 'medical_issues', 'passage_paid_by', 'emb_date',
       'emb_loc', 'emb_class', 'disemb_date', 'disemb_loc', 'disemb_class',
       'days_on_voyage', 'earnings', 'last_name', 'first_name',
       'alternate_last_name', 'alternate_first_name', 'parents', 'gender',
       'families_groups', 'voyage_code', 'date', 'date_voy_begin',
       'date_voy_end', 'notes', 'route_class', 'fate', 'call_number', 'steps',
       'operations', 'ship_notes', 'ships_encountered', 'route_class_1',
       'start_loc', 'last_loc', 'ship_name', 'ship_built_date',
       'ship_built_place', 'ship_type', 'tonnage', 'guns', 'ship_code', 'origin', 'orig_cert', 'orig_class_1', 'orig_class_2',
       'orig_class_3', 'function_name', 'func_class_1',
       'func_class_2', 'function_id', 'origin_id', 'voyage_id', 'ship_id', 'person_id']

df_p_columns = ['person_id',
 'last_name',
 'first_name',
 'alternate_last_name',
 'alternate_first_name',
 'parents',
 'gender',
 'families_groups']

df_v_columns = ['voyage_id',
 'voyage_code',
 'date',
 'date_voy_begin',
 'date_voy_end',
 'notes',
 'route_class',
 'fate',
 'call_number',
 'steps',
 'operations',
 'ship_notes',
 'ships_encountered',
 'route_class_1',
 'start_loc',
 'last_loc']

df_f_columns = ['function_id',
 'function_name',
 'func_class_1',
 'func_class_2']

df_o_columns = ['origin_id',
 'origin',
 'orig_cert',
 'orig_class_1',
 'orig_class_2',
 'orig_class_3']

df_s_columns = ['ship_id',
 'ship_name',
 'ship_built_date',
 'ship_built_place',
 'ship_type',
 'tonnage',
 'guns',
 'ship_code']

In [27]:
df_r.sort_values(by='record_id')

,record_id,file_name,n,age,build,complexion,conscription,wage,remarks,f_n,...,disemb_date,disemb_loc,disemb_class,days_on_voyage,earnings,person_index,origin_index,function_index,ship_index,voyage_index
0,1,1722 - RÃ´le du Solide_2028,1,NaN,NaN,NaN,NaN,75,a fait la campagne,NaN,...,NaN,<Disemb_Loc>,301.0,NaN,NaN,0,0,0,548,0
1,2,1722 - RÃ´le du Solide_2028,1,NaN,NaN,NaN,NaN,75,a fait la campagne,NaN,...,NaN,<Disemb_Loc>,301.0,NaN,NaN,0,0,0,505,0
2,3,1722 - RÃ´le du Solide_2028,2,NaN,NaN,NaN,NaN,75,a fait la campagne,NaN,...,NaN,<Disemb_Loc>,301.0,NaN,NaN,1,1,1,548,0
3,4,1722 - RÃ´le du Solide_2028,2,NaN,NaN,NaN,NaN,75,a fait la campagne,NaN,...,NaN,<Disemb_Loc>,301.0,NaN,NaN,1,1,1,505,0
4,5,1722 - RÃ´le du Solide_2028,3,NaN,NaN,NaN,NaN,20,a fait la campagne,NaN,...,NaN,<Disemb_Loc>,301.0,NaN,NaN,2,2,2,548,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219056,219057,Simon et al. - DESLANDELLES DRIAN FranÃ§ois DUB...,63,NaN,NaN,NaN,NaN,20,embarquÃ© Ã l'armement \n dÃ©barquÃ© Ã ?,NaN,...,NaN,NaN,NaN,NaN,NaN,200621,4,2,14,6651
219057,219058,Simon et al. - DESLANDELLES DRIAN FranÃ§ois DUB...,64,NaN,NaN,NaN,NaN,7,embarquÃ© Ã l'armement \n dÃ©barquÃ© Ã ?,NaN,...,NaN,NaN,NaN,NaN,NaN,200622,1,21,14,6651
219058,219059,Simon et al. - DESLANDELLES DRIAN FranÃ§ois DUB...,72,NaN,NaN,NaN,NaN,NaN,embarquÃ© Ã l'armement \n dÃ©barquÃ© Ã le ? --- sr,NaN,...,NaN,NaN,NaN,NaN,NaN,200623,0,23,14,6651
219059,219060,Simon et al. - DESLANDELLES DRIAN FranÃ§ois DUB...,79,NaN,NaN,NaN,NaN,NaN,embarquÃ© Ã l'armement \n dÃ©barquÃ© Ã le ? --- sr,NaN,...,NaN,NaN,NaN,NaN,NaN,200624,0,23,14,6651
219060,219061,Simon et al. - DESLANDELLES DRIAN FranÃ§ois DUB...,82,NaN,NaN,NaN,NaN,NaN,embarquÃ© Ã l'armement \n dÃ©barquÃ© Ã le ?,NaN,...,NaN,NaN,NaN,NaN,NaN,200625,0,989,14,6651

In [20]:
df[df_v_columns].sort_values(by='voyage_id').drop_duplicates()
# .to_csv('voyage_by_id.csv')

,voyage_id,voyage_code,date,date_voy_begin,date_voy_end,notes,route_class,fate,call_number,steps,operations,ship_notes,ships_encountered,route_class_1,start_loc,last_loc,ship_id
0,1,SOL02,1722.0,21/03/1722,16/12/1722,NaN,NaN,NaN,2P 20-IV.15A,Lorient - au devant des vaisseaux - Lorient,- armÃ© pour aller au devant des vaisseaux le 2...,chaloupe de la Compagnie des Indes,NaN,BB,Lorient,Lorient,549
61616,1,SOL02,1722.0,21/03/1722,16/12/1722,NaN,NaN,NaN,2P 20-IV.15A,Lorient - au devant des vaisseaux - Lorient,- armÃ© pour aller au devant des vaisseaux le 2...,chaloupe de la Compagnie des Indes,NaN,BB,Lorient,Lorient,506
26760,2,AUR04,1728.0,07/06/1728,13/08/1729,NaN,NaN,NaN,2P 23-II.9,Lorient - TÃ©nÃ©riffe - Saint-Domingue - Louisia...,- armÃ©e pour la Louisiane le 07/06/1728 - dÃ©sa...,frÃ©gate de la Compagnie des Indes,NaN,BDB,Lorient,Lorient,2
4864,3,VDL01,1774.0,04/02/1774,13/07/1774,NaN,NaN,NaN,2P 13-V.1,Lorient - Ã®le de France,- armÃ©e pour lâ„¢Inde le 04/02/1774 - vendue Ã l...,navire de Lorient appartenant aux srs MÃ©nard e...,NaN,BA,Lorient,Ã®le de France,3
211665,4,MUT02,1720.0,15/11/1720,29/04/1721,NaN,NaN,NaN,2P 20-III.7,Port-Louis - Louisiane - Lorient,- armÃ©e Ã Port-Louis pour la Louisiane le 15/1...,navire de la Compagnie des Indes,NaN,BDB,Port-Louis,Lorient,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4949,6652,PHL02,1722.0,28/07/1722,NaN,NaN,NaN,NaN,2P 1-II.17,Lorient - Antilles ? - Rochefort,- armÃ© pour Saint-Domingue le 28/07/1722,vaisseau de la Compagnie des Indes,NaN,BDB,Lorient,Rochefort,15
81984,6653,DRY03,1784.0,NaN,NaN,NaN,NaN,NaN,2P 49-17B,NaN,NaN,NaN,NaN,555,555,555,20
161463,6654,JAS10,1746.0,26/12/1746,14/05/1747,NaN,NaN,404,1P 302-60.6P,Rochefort - Lorient - cap Ortegal,- armÃ© Ã Rochefort le 26/12/1746 - arrivÃ© Ã L...,Vaisseau du roi armÃ© pour protÃ©ger les vaissea...,NaN,BB,Rochefort,cap Ortegal,53
153077,6655,NEC01,1746.0,20/07/1746,02/09/1746,NaN,NaN,NaN,1P 302-60.6C,Nantes - Lorient pour le SÃ©nÃ©gal,- armÃ© Ã Nantes le 20/07/1746 - arrivÃ© Ã Port...,frÃ©gate de la Compagnie des Indes,NaN,BC inc,Nantes,Lorient pour le SÃ©nÃ©gal,333
169880,6656,PDC13,1757.0,23/06/1757,01/07/1757,NaN,NaN,NaN,1P 302-60.17,Le Passage pour l'Inde,- armÃ© au Passage pour lâ„¢Inde le 23/06/1757 -...,vaisseau de la Compagnie des Indes,NaN,B,555,555,530